.bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  background: rgba(169, 169, 169, 0.39);
  height: 100%;
  border-right: 1px solid gray;

  &__wrapper {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__left-block-margin {
    margin-right: 5px;
  }
}